  :root{
            --color: rgb(62, 222, 174);
            --seccolor: rgb(155, 87, 207); 
            --defpad: 23px;
            --defop: 0.4;
        }

        *{
            margin: 0;
            padding: 0;
        }
       .nav{
            background-color: var(--color);
        }

        ul{
            display: flex;
        }

        ul li{
            opacity: var(--defop);
            list-style: none;
            padding: var(--defpad);
            border: 2px solid var(--seccolor);
        }

        ul li:first-child{
            --color: rgb(232, 236, 34);
            background-color: var(--color, blue);
        }

        .container{
            background-color: var(--seccolor);
        }