.container{
            background-color: rgb(9, 106, 106);
            height: 80vh;
            width: 30vw;
        }

        .box{
            width: 34px;
            height: 45px; 
            animation-name: harryKaAnimation; 
            animation-duration: 2s;
            animation-iteration-count: infinite;
            animation-timing-function: cubic-bezier(0, 0, 0, 0.96);
            animation-delay: 0ms;
            animation-direction: reverse;
            /* animation-play-state: paused; */
            /* animation: name duration timing-function delay iteration-count direction fill-mode; */
            animation: harryKaAnimation 2s ease-in-out 0s infinite, 
                       harry2 3s ease-in-out 0s infinite;
        }

        @keyframes harryKaAnimation {
            from{
                background-color: red;
            }
            to{
                background-color: yellow; 
            }
        }

        @keyframes harry2 {
            0%{
                transform: rotate(100deg);
            }
            20%{
                transform: rotate(200deg);
            }
            50%{
                transform: rotate(220deg);
            }
            80%{
                transform: rotate(300deg);
            }
            100%{
                transform: rotate(310deg);
            }
        }