body {
            background-color: rgb(64, 191, 223);
        }

        .mytext{
         color: rgb(213, 31, 62);
      }

        /* @media screen and (orientation: portrait) {
            body{
                border: 2px solid rgb(23, 1, 23);
            }
        } */

       
        
        /* @media not|only mediatype and (expressions) {
            CSS-Code;
        } */

        .boxes{
            display: flex;
        }

        .box{
            width: 344px;
            height: 344px;
            background-color: rgb(180, 125, 70);
            padding: 3px;
            margin: 3px;
        }

         @media only screen and (max-width: 455px){
            body{

                background-color: rgb(45, 202, 50);
            }
            
            .boxes{
                flex-direction: column;
            }

            .box{
        background-color: rgb(13, 0, 255);  /* ye add karo */
    }
        }
/*nice program real css start from here please see the comments and output inspect*/